.App {
  background-color: rgb(240, 242, 245);
  margin-top: 64px;
  height: calc(100vh - 64px);
}

a,
span {
  color: #75777b;
  text-decoration: none;
  font-size: 0.8rem;
}

a:hover {
  text-decoration: underline;
}

.input-publicaciones {
  height: 40px;
  padding: 0 0.5rem;
  border-radius: 2rem;
  border: none;
  background-color: #f0f2f5;
  font-size: 1rem;
  width: 100%;
}

.input-publicaciones:focus {
  background-color: #e0e2e6;
}

.input-publicaciones:hover {
  background-color: #e0e2e6;
}