.App {
  background-color: rgb(240, 242, 245);
  margin-top: 64px;
  height: calc(100vh - 64px);
}

a,
span {
  color: #75777b;
  text-decoration: none;
  font-size: 0.8rem;
}

a:hover {
  text-decoration: underline;
}
